<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<%- include("./partials/head") %>
<body>
    <!-- <nav>
        <div>
            <h1>One Blog</h1>
            <p>SuperBlog</p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav> -->
    <%- include("./partials/nav") %>
    <div>
          <h1>About</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quod.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quas?</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, officia!</p>
    </div>
    <%- include("./partials/footer") %>
</body>
</html>