<nav>
    <div>
        <h1>One Blog</h1>
        <p>SuperBlog</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>
